.inicio{
    text-decoration: underline;
}
.Objetivo{
    width: 50%;
    background-color:rgb(189, 185, 185);
}
.formaçao{
    width: 50%;
    background-color:rgb(189, 185, 185);
}
.experiencia{
    width: 50%;
    background-color:rgb(189, 185, 185);
}
.habilidade{
    width: 50%;
    background-color:rgb(189, 185, 185);
}